<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Calculator</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align="center">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><legend><h1>CALCULATOR</h1></legend></div>
			<div class="col-md-4"></div>
		</div>
			<br>
			<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form class="form-horizontal" action={{ url_for('result') }}  method="post">
					<div class="form-group">
						<label class="control-label col-xs-3" for="D">D :</label>
						<div class="col-xs-7">
							<input type="number" step = "any" class="form-control" name="D" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-xs-3" for="R">R :</label>
						<div class="col-xs-7">
							<input type="number" step = "any" class="form-control" name="R" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>

                    <div class="form-group">
						<label class="control-label col-xs-3" for="r">r :</label>
						<div class="col-xs-7">
							<input type="number" step = "any" class="form-control" name="r" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>

                    <div class="form-group">
						<label class="control-label col-xs-3" for="hi">hi :</label>
						<div class="col-xs-7">
							<input type="number" step = "any" class="form-control" name="hi" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>

                    <div class="form-group">
						<label class="control-label col-xs-3" for="tb">tb :</label>
						<div class="col-xs-7">
							<input type="number" step = "any" class="form-control" name="tb" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>

                    <div class="form-group">
						<label class="control-label col-xs-3" for="tk">tk :</label>
						<div class="col-xs-7">
							<input type="number" step = "any" class="form-control" name="tk" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>

					<div class="form-group">
            			<label class="control-label col-xs-3">Operation:</label>
            			<div class="col-xs-5">
                			<select class="form-control" name="operation">
                    			<option>Lc</option>
                    			<option>Area</option>
                			</select>
            			</div>
            		</div>

					<div class="form-group">
            			<div class="col-xs-offset-3 col-xs-9">
                			<input type="submit" class="btn btn-success" value="Calculate">
                			<input type="reset" class="btn btn-danger" value="Reset">
            			</div>
        			</div>
        		</form>
        	</div>
        	<div class="col-md-4"></div></div>
		</div>
	</body>
</html>